@import url(imageLocs.css);
@import url(config.css);
@import url(pageLayout.css);
@import url(cardStyle.css);
@import url(supplyStyle.css);

/**
 * Styles for buttons
 */
#turnInfo button {
    border-top: 1px solid #e6e6e6;
    background: #c0c0c0;
    background: -webkit-gradient(linear, left top, left bottom, from(#606060), to(#c0c0c0));
    background: -webkit-linear-gradient(top, #606060, #c0c0c0);
    background: -moz-linear-gradient(top, #606060, #c0c0c0);
    background: -ms-linear-gradient(top, #606060, #c0c0c0);
    background: -o-linear-gradient(top, #606060, #c0c0c0);
    padding: 5.5px 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #000000;
    font-size: 14px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}
#turnInfo button:hover {
    border-top-color: #606060;
    background: #606060;
    color: #ccc;
}

#turnInfo button:active {
    border-top-color: #606060;
    background: #606060;
}
