<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
    <meta charset="utf-8">
    <title>Colonialism</title>
    <link rel="stylesheet" href="style.css">
    <script src="lib/angular.min.js"></script>

    <script src="controller/base/chapelView.js"></script>

    <script src="model/cards/baseSetActions.js"></script>
    <script src="model/cards/intrigueActions.js"></script>
    <script src="model/cards/cornucopiaActions.js"></script>
    <script src="model/cards/seasideActions.js"></script>
    <script src="model/cards/prosperityActions.js"></script>
    <script src="model/cards/hinterlandsActions.js"></script>
    <script src="model/cards/darkAgeActions.js"></script>
    <script src="model/cards/attackAction.js"></script>

    <script src="model/cards/treasureRules.js"></script>
    <script src="model/cards/treasure.js"></script>
    <script src="model/cards/victory.js"></script>
    <script src="model/cards/curse.js"></script>
    <script src="model/cards/action.js"></script>
    <script src="model/cards/cardDef.js"></script>

    <script src="model/player.js"></script>
    <script src="model/game.js"></script>
    <script src="model/card.js"></script>
    <script src="model/pile.js"></script>
    <script src="model/log.js"></script>
    <script src="model/ai.js"></script>

    <script src="controller/playOpt.js"></script>
    <script src="controller/controllers.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body ng-controller="PhoneListCtrl">
    <img class="bg" src="images/background.jpg" />
        <div id="die">
            <div id="title">Colonialism</div>
                <div id="supply"> <!--The area where the cards in the supply is shown -->

                    <div id="actionSupply">
                        <span ng-repeat="card in actionSupply">
                            <div class="supplyCard">
                                {{card.name}}
                                <button class="cost-button">
                                    <div class="cost-button-circle">{{card.cost}}</a></div>
                                </button>
                                <button class="{{card.name}}" ng-click="buyCard(card.name)"></button>
                                <button class="supply-button">
                                    <div class="supply-button-circle">{{card.num}}</a></div>
                                </button>
                                <br/>
                                <p>{{card.rules}}
                                    {{card.data}}
                                </p>

                            </div>
                        </span>

                        <span ng-repeat="card in victorySupply">
                            <div class="supplyCard">
                                {{card.name}}
                                <button class="cost-button">
                                    <div class="cost-button-circle">{{card.cost}}</a></div>
                                </button>
                                <button class="{{card.name}}" ng-click="buyCard(card.name)"></button> {{card.data}}
                                <button class="supply-button">
                                    <div class="supply-button-circle">{{card.num}}</a></div>
                                </button>
                            </div>
                        </span>

                        <span ng-repeat="card in treasureSupply">
                            <div class="supplyCard">
                                {{card.name}}
                                <button class="cost-button">
                                    <div class="cost-button-circle">{{card.cost}}</a></div>
                                </button>
                                <button class="{{card.name}}" ng-click="buyCard(card.name)"></button> {{card.data}}
                                <button class="supply-button">
                                    <div class="supply-button-circle">{{card.num}}</a></div>
                                </button>
                            </div>
                        </span>
                    </div>
                    <br>
                </div>


                <div id="log">
                    <h3>Game log</h3>
                    <p ng-repeat="message in log">
                        {{message}}
                    </p>
                </div>

                <div id="play"> <!--The area where played card is shown -->
                    <h3>Deployment area</h3>
                                        <span ng-repeat="card in play">
                                            {{card.name}}
                                        </span>
                </div>
                <div id="playArea">
                    <div id="status"> <!-- The area where a player's status during a turn is shown. -->
                        <h3>Game status</h3>
                        <div id="money">{{money}}</div>
                        <div id="actions">{{actions}}</div>
                        <div id="buys">{{buys}}</div>
                    </div>

                    <div id="deckInfo"> <!--Shows a player's discard pile. -->
                        <h3>{{discardPile}}</h3>
                        <h3>{{drawPile}}</h3>
                    </div>



                    <div id="hand"> <!-- The area where the player's hand is shown. -->
                        <h3>Hand</h3>
                        {{instructions}}
                        <span ng-repeat="card in hand">
                            <button class="{{card.type}} {{card.selected}}" ng-click="playCard(card.id)">
                                {{card.name}}<br/>
                                {{card.data}}<br/>
                                {{card.rules}}<br/>
                                {{card.cost}}
                            </button>
                        </span>
                        <button ng-click="playTreasures()">Play treasures</button>
                    </div>
                    <button class="roll" ng-click="changeView()">{{end}}</button>

                </div>
        </div>
</body>
</html>
