body{
    font-family: 'Playfair Display SC', serif;
}

#title{
    font-size:30px;
}

/**
 * Styles for buttons
 */
button {
    margin-right:10px;
    background-color: #D3002A;
    color: #000000;
    white-space: normal;
}

.Treasure{
    background-color: #FFA824;
    color: #000000;
}

.Victory{
    background-color: #414F12;
    color: #000000;
}

/*This is when a button has been clicked on*/
.true{
    background-color: #ffffff;
}

#victorySupply button{
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 46px;           /* make this the size of your image */
    width:46px;
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}

#treasureSupply button{
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 36px;           /* make this the size of your image */
    width:46px;
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}

#actionSupply button{
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 40px;           /* make this the size of your image */
    width:46px;
    padding-left: 16px;     /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}
.supply-button {
    width:25%;
    pointer-events: none;
}

.supply-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:1px solid #cfdcec;
    overflow:hidden;

    background: #4679BD;
    box-shadow: 0 0 3px gray;
}

.supply-button-circle:hover {
    background:#30588e;
}

.cost-button {
    width:25%;
    pointer-events: none;
}

.cost-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:1px solid #cfdcec;
    overflow:hidden;

    background: #ffd700;
    box-shadow: 0 0 1px gray;
}

.cost-button-circle:hover {
    background:#30588e;
}

img.bg {
    min-height: 100%;
    min-width: 1024px;

    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
        width: 75%;
    }
}

#die {
    position: relative;
    margin: 10px auto;
    width: 1200px;
    height: 1600px;
    padding: 20px;
    background: rgba(255,255,255,0.7);
    -moz-box-shadow: 0 0 10px #888888;
    -webkit-box-shadow: 0 0 10px #888888;
    box-shadow: 0 0 10px #888888;
    text-align: center;
    font-family: 'Playfair Display SC', serif;
}

/**
*Styles for supply
**/

#supply{
    width:900px;
    height:500px;
}
#actionSupply{
      float:right;
}

#victorySupply{
    float:right;
}

#treasureSupply{
    float:right;
}

.supplyCard{
    float:right;
    width:120px;
    height:140px;
    margin:10px;
    background-color:#888888;
    border: 4px solid #000000;
}

.supplyCard p{
    font-size:6px;
}

.supplyCard:hover{
    -webkit-transform: scale(1.9);
    -moz-transform: scale(1.9);
    -o-transform: scale(1.9);
    -ms-transform: scale(1.9);
    transform: scale(1.9);
}

#log{
    width:200px;
    position:absolute;
    top:100px;
    left:900px;
}

#play{
    float:right;
    width:960px;
}

#playArea{
    float:right;
    width:960px;
}

#status{
    float:right;
}

#deckInfo{
    float:right;
}



.Pence{
    background-image: url(images/base/State.png); /* 16px x 16px */
}

.Settlement{
    background-image: url(images/base/Settlement.png); /* 16px x 16px */
}

.District{
    background-image: url(images/base/District.png); /* 16px x 16px */
}

.State{
     background-image: url(images/base/State.png); /* 16px x 16px */
 }

.Nation{
    background-image: url(images/base/Nation.png); /* 16px x 16px */
}



.Shilling{
    background-image: url(images/base/Hydrogen.png); /* 16px x 16px */
}

.Pound{
     background-image: url(images/base/Pound.png); /* 16px x 16px */
 }


.Diamond{
    background-image: url(images/base/Diamond.png); /* 16px x 16px */
}

/**
*Action cards
*/

.Miner{
    background-image: url(images/base/Miner.png); /* 16px x 16px */
}

.Base{
    background-image: url(images/Base.png); /* 16px x 16px */
}

.Camp{
    background-image: url(images/prosperity/Camp.png); /* 16px x 16px */
}

.Metalworker{
    background-image: url(images/base/Metalworker.png); /* 16px x 16px */
}

.Fair{
    background-image: url(images/base/Fair.png); /* 16px x 16px */
}

.Scientist{
    background-image: url(images/base/Scientist.png); /* 16px x 16px */
}

.Store{
    background-image: url(images/base/Store.png); /* 16px x 16px */
}

.Shop{
    background-image: url(images/base/Shop.png); /* 16px x 16px */
}

.Sorcerer{
    background-image: url(images/base/Sorcerer.png); /* 16px x 16px */
}

.Psychic{
    background-image: url(images/darkAges/Psychic.png); /* 16px x 16px */
}

.Slum{
    background-image: url(images/intrigue/Slum.png); /* 16px x 16px */
}

.Church{
    background-image: url(images/base/Church.png); /* 16px x 16px */
}

.Beacon{
    background-image: url(images/seaside/Beacon.png); /* 16px x 16px */
}

.Intersection{
    background-image: url(images/hinterlands/Intersection.png); /* 16px x 16px */
}

.Hut{
    background-image: url(images/darkAges/Hut.png); /* 16px x 16px */
}

.Vagabond{
    background-image: url(images/darkAges/Vagabond.png); /* 16px x 16px */
}

.Zoo{
    background-image: url(images/cornucopia/Zoo.png); /* 16px x 16px */
}

.Fisherman{
    background-image: url(images/seaside/Fisherman.png); /* 16px x 16px */
}

.Shaman{
    background-image: url(images/darkAges/Shaman.png); /* 16px x 16px */
}

.MeetingHall{
    background-image: url(images/intrigue/MeetingHall.png); /* 16px x 16px */
}

.Strategist{
    background-image: url(images/seaside/Strategist.png); /* 16px x 16px */
}

.Assembly{
    background-image: url(images/base/Assembly.png); /* 16px x 16px */
}

.OceanWitch{
    background-image: url(images/seaside/OceanWitch.png); /* 16px x 16px */
}

.TradeBoat{
      background-image: url(images/seaside/TradeBoat.png); /* 16px x 16px */
}

.Hunters{
    background-image: url(images/cornucopia/Hunters.png); /* 16px x 16px */
}

.TradingCompany{
    background-image: url(images/base/TradingCompany.png); /* 16px x 16px */
}

.Farm{
     background-image: url(images/cornucopia/Farm.png); /* 16px x 16px */
}

.Town{
    background-image: url(images/prosperity/Town.png); /* 16px x 16px */
}

.Reaping{
      background-image: url(images/cornucopia/Reaping.png); /* 16px x 16px */
}

.Pickpocket{
    background-image: url(images/seaside/Pickpocket.png); /* 16px x 16px */
}

.AccountOffice{
    background-image: url(images/prosperity/AccountOffice.png); /* 16px x 16px */
}

.Convoy{
    background-image: url(images/seaside/Convoy.png); /* 16px x 16px */
}

.Pier{
     background-image: url(images/seaside/Pier.png); /* 16px x 16px */
 }

.Atlas{
    background-image: url(images/seaside/Atlas.png); /* 16px x 16px */
}

.Carnival{
    background-image: url(images/cornucopia/Carnival.png); /* 16px x 16px */
}

.Priest{
    background-image: url(images/intrigue/Priest.png); /* 16px x 16px */
}

.Plantation{
    background-image: url(images/intrigue/Plantation.png); /* 16px x 16px */
}

.Park{
      background-image: url(images/base/Park.png); /* 16px x 16px */
}

.MoneyHouse{
     background-image: url(images/darkAges/MoneyHouse.png); /* 16px x 16px */
 }

.Stock{
    background-image: url(images/prosperity/Stock.png); /* 16px x 16px */
}

.Usurer{
     background-image: url(images/prosperity/Stock.png); /* 16px x 16px */
 }

.tradingCompany{
    background-image: url(images/hinterlands/TradingCompany.png); /* 16px x 16px */
}